.quick-access-wallet{
    background-color: #fff;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        padding: 20px;
}

.wallet-balance h2{
    color: #1976d2;
    margin-bottom: 0;
}
.wallet-balance h3{
    font-weight: 400;
    margin: 0;
}
.amount-today h2{
    font-size: 12px;
    margin-bottom: 0;
}
.amount-today h3{
    font-weight: 400;
    margin-top: 0;
}
.fund-wallet{
    background-color: #1976d2;
    color: white;
    width: 137px;
    padding: 4px;
    font-weight: 700;
    border-radius: 2px;
}