.bank-logo{
  color:  #1976d2;
}
.wallet-items-container{
  display: flex;
  flex-direction: row;

  background-color: #fff;
  
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 
  0px 1px 1px 0px rgba(0,0,0,0.14), 
  0px 1px 3px 0px rgba(0,0,0,0.12);
  justify-content: space-between;
}
.wallet-item-row.wallet-bg-2 {
  border-right: none;
}

.wallet-item-row.wallet-bg-0{
  border-left: none;
}
.wallet-item-row{
 
  border-left: 2px solid #f5f5f5;
  width: 40%;
  padding: 20px;
}
.accountnumber{
  font-size: 29px;
  font-weight: 400;
 display: flex;
 gap: 5px;
}
.accountName{
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-weight: 300;
}
.bonus p{
font-weight: 300;
margin: 0;
}
@media  screen and (max-width: 900px) {
  .accountnumber{
    font-size: 25px;
  }
}