
.wallet-container {
    width: 350px;
  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    color: white;
    font-family: Arial, sans-serif;
  }
  .bank-logo{
    height: 45px;
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  .wallet-item.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
}
.copy{
  cursor: pointer;
}
.wallet-item.accountnumber {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.wallet-item.bonus{
  display: flex;
  gap: 5px;
}
.details{
  position: relative;
  bottom: -20px;
  font-weight: 600;
}
.name-bonus{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.accountName {
  display: flex;
  flex-direction: row;
}

