/* LoginPg.css */
*{
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
.homepage-bars{
  position: fixed;
  top: 51px;
  font-size: 30px;
  cursor: pointer;
padding-left: 7px;
}

.homepage-bars {
  transition: transform 0.3s ease-in-out;
}

.homepage-bars.visible {
  transform: translateX(244px);
}

.home-display {
  display: grid;
margin-left:  222px;
  padding: 30px;
  padding-top: 70px;
 grid-template-areas: 
 'wallet wallet wallet wallet quick-access'
 'invite invite invite invite invite'
'transactions transactions transactions transactions transactions';
  gap: 20px; /* Adjust the gap between rows as needed */
}

.wallet-items-container {
  grid-area: wallet;
}

.quick-access-wallet {
  grid-area: quick-access;
}

.transactions {
  grid-area: transactions;
}
.invite-div {
  grid-area: invite;
}
@media screen and (max-width: 900px) {
  .home-display {
    display: grid;
    margin-left: 0;
   grid-template-areas: 
   
   'wallet'
   'quick-access'
   'invite'
   'transactions';
    gap: 4px; /* Adjust the gap between rows as needed */
  }
  
  .wallet-items-container {
    grid-area: wallet;
  }
  
  .quick-access-wallet {
    grid-area: quick-access;
  }
  
  .transactions {
    grid-area: transactions;
  }
}

.invite-div h1{
  color:  #1976d2;
} 
.invite-div{
  padding: 20px;
  flex-direction: row;

  background-color: #fff;
  
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 
  0px 1px 1px 0px rgba(0,0,0,0.14), 
  0px 1px 3px 0px rgba(0,0,0,0.12);
  justify-content: space-between;
}